[Desktop Entry]
Name=Help CoreApps
Comment=Help app for CoreApps related help
Exec=help
Icon=/usr/share/icons/CoreApps/Help.svg
Type=Application
Categories=Utility;Core;Qt;Documentation;
Terminal=false
StartupNotify=true
